{% extends "base.html" %}

{% block title %}
Caixa
{% endblock %}

{% block content %}


    
<h2 class="titulo">Adicionar Caixa</h2>        
<div class = "card mb-4"></div>    
    <form method ="post">
        {% csrf_token %}
        {% if dados_invalidos %}
            <div style = "color: red;">
                <p>{{dados_invalidos}}</p>
            </div>
        {% endif %}
        {% for field in form_caixa %}
            <p>
                {{field.label_tag}}
                {{field}}
                {% if field.help_text %}
                    <small style= "color: grey;">{{field.help_text}}</small>
                {% endif %}
                {% for error in field.erros %}
                    <p style="color: red;">{{field.help_text}}</p>
                {% endfor %}                        
            </p>
        {% endfor %}
        {% if form_caixa.non_field_errors %}
            <div style = "color: red;">
                <p>{{form_caixa.non_field_errors}}</p>
            </div>
        {% endif %}
        <button type = "submit">Adicionar</button>
    </form>

{% if messages %}
<div class="alert alert-success alert-dismissible">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}

{% endblock %}