{% extends "base.html" %}

{% block title %}
Associar Cartão - Pessoa
{% endblock %}

{% block content %}

<div style="flex-direction: row; display: flex; ">
    <h3 style="width: 95%; color: rgb(52, 58, 64);">Associar Cartão a Pessoa</h3>
    <button onclick="Hide('Associar_Gestor_Edificio')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
</div>
<div class = "card mb-4"></div>
<div id = "Associar_Gestor_Edificio">    
    <form method ="post"> 
        {% csrf_token %}
        {% for error in form_rel.non_field_errors %}
            <p style="color: red;"> {{error}} </p>
        {% endfor %}
        {% for field in form_rel %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style= "color: grey;">{{field.help_text}}</small>
                {% endif %}
                {% for error in field.erros %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}                        
            </p>
        {% endfor %}
        <button type = "submit" style="margin-bottom: 2%;">Adicionar Gestor</button>
    </form>
</div>


{% if messages %}
<div class="alert alert-success alert-dismissible">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}

{% endblock %}