{% extends "base.html" %}

{% block title %}
Caixas
{% endblock %}

{% block content %}
<h2 class="titulo">Lista de caixas</h2>
<div class = "card mb-4"></div>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Caixa</th>
            <th>IP</th>
            <th>Mac adress</th>
            <th>Disponível</th>
            <th>Editar</th>
            <th>Ativar/Desativar</th>    
        </tr>
    </thead>    
    <tbody>
        {% for caixa in caixas %}
            <tr>                
                <td>{{caixa.id}}</td>
                <td ><a href =" {% url 'caixa_detalhes' caixa.id %}">{{caixa.ip}}</a></td>
                <td >{{caixa.mac_adress}}</td>
                {% if caixa.ativo and local_atual_id == null %}
                    <td>Disponível</td>
                {% else %}
                    <th>Não Disponível</th>
                {% endif %}
                <td><a href="{% url 'caixas_editar' caixa.id %}">[EDITAR]</a></td>
                {% if caixa.ativo %}
                <td><a onclick="return confirm('Tem a certeza que pretente desativar a caixa?');" href ="{% url 'desativar_caixa' caixa.id %}"> Desativar Caixa</a></td>
                {% else %}
                <td><a onclick="return confirm('Tem a certeza que pretente ativar a caixa?');" href ="{% url 'ativar_caixa' caixa.id %}"> Ativar Caixa</a></td>
                {%endif%}
                           
                
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}