
{% extends "base.html" %}

{% block title %}
Cartões
{% endblock %}

{% block content %}
<h2 class="titulo">Lista de cartões</h2>        
<div class = "card mb-4"></div>  
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Cartão</th>
                <th>Operacional</th>
                <th>Pessoa Atual</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Editar</th>
                
                              
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Cartão</th>
                <th>Operacional</th>
                <th>Pessoa Atual</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Editar</th>
            </tr>
        </tfoot>
        <tbody>
            {% for cartao in lista_cartao %}
                <tr>
                    <td>{{cartao}}</td>
                    <td>{% if cartao.ativo %} Sim {% else %} Não {%endif%}</td>
                        {% if relacoes %}
                            {% for rel in relacoes %}
                                {% if rel.cartao.id == cartao.id %}
                                    <td>{{rel.pessoa}}</td>
                                    <td>{{rel.data_inicio}}</td>
                                    <td>{{rel.data_fim}}</td>
                                {% else %}
                                    <td>-------</td>
                                    <td>-------</td>
                                    <td>-------</td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>-------</td>
                            <td>-------</td>
                            <td>-------</td>
                        {% endif %}
                    <td><a href ="{% url 'cartoes_editar' cartao.id %}">[Editar]</a></td>
                               
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}