{% extends "base.html" %}

{% block title %}
Cartões
{% endblock %}

{% block content %}



<div style="flex-direction: row; display: flex; "></div>
    <h3 style="width: 95%; color: rgb(52, 58, 64);">Editar Cartão</h3>
    
<div class = "card mb-4"></div>
<div id = "Editar_Cartao">    
    <form method ="post"> 
        {% csrf_token %}
        {% for error in form_editar_cartao.non_field_errors %}
            <p style="color: red;"> {{error}} </p>
        {% endfor %}
        {% for field in form_editar_cartao %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style= "color: grey;">{{field.help_text}}</small>
                {% endif %}
                {% for error in field.erros %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}                        
            </p>
        {% endfor %}
        <button type = "submit" style="margin-bottom: 2%;">Editar Cartão</button>
    </form>
</div>




{% endblock %}