{% extends "base.html" %}

{% block title %}
Edificios
{% endblock %}

{% block content %}
<h2 class="titulo">{{edificio.nome}}</h2>        
<div class = "card mb-4"></div>  
<div class = "box-3">
    <div class="lista">
        <h2 style="margin: 1%;">Locais Ativos: </h2>
        
        <ul style="margin: 1%;">
            {% for local in locais %}
                <li class= "linha_lista"><a class="link_preto" href="{% url 'local_details' local.id %}">{{local.nome}}</a></li>
            {% endfor%}
            
        </ul style="margin: 1%;">
    </div>
    <div class = "box-2">
        <div class="descricao">
            <h2 style="margin: 1%;">Descrição:</h2>
            <p class="p_texto">{{edificio.descricao}}</p>
        </div>
        <div class="gestores">
            <h2 style="margin: 1%;">Gestores:</h2>
            <ul style="margin: 1%;">
                {% for rel in gestores %}

                    <li style="font-size: larger;">{{rel.gestor.first_name}} {{rel.gestor.last_name}}</li>
                {% endfor%}
            </ul>
            
        </div>

    </div>
    
</div>
<div class = "div_botoes">
    <button class="botao" onclick="location.href='{% url 'locais' %}' ">
        Adicionar Local
    </button>
    <button class="botao" onclick="location.href='{% url 'edf_historico_id' edificio.id %}' ">
        Histórico de Locais do Edificio
    </button>
    {% if request.user.is_supergestor %}
    <button class="botao" onclick="location.href='{% url 'locais' %}' ">
        Histórico de Gestores do Edificio
    </button>
    {% endif %}
    
</div>

{% endblock %}