{% extends "base.html" %}

{% block title %}
Edificios
{% endblock %}


<h2 class="titulo">Adicionar Edifício</h2>        
<div class = "card mb-4"></div>  
      
<div class = "card mb-4"></div>
<div id = "Adicionar_Edf" >
    <form method ="post"> 
        {% csrf_token %}
        {% if dados_invalidos %}
            <div style = "color: red;">
                <p>{{dados_invalidos}}</p>
            </div>
        {% endif %}
        {% for field in edificio_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style= "color: grey;">{{field.help_text}}</small>
                {% endif %}
                {% for error in field.erros %}
                    <p style="color: red;">{{field.help_text}}</p>
                {% endfor %}                        
            </p>
        {% endfor %}

        {% if edificio_form.non_field_errors %}
            <div style = "color: red;">
                <p>{{edificio_form.non_field_errors}}</p>
            </div>
        {% endif %}
        
        <button type = "submit" style="margin-bottom: 2%;">Adicionar Edificio</button>

    </form>
</div>
{% if messages %}
<div class="alert alert-success alert-dismissible">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
{% block content %}