{% extends "base.html" %}

{% block title %}
Gestores
{% endblock %}

{% block content %}

<h2 class="titulo">Adicionar Gestor</h2>        
<div class = "card mb-4"></div>    
    <form method ="post">             
        {% csrf_token %}
        {% for field in form_gestor %}
            <p>
                {{field.label_tag}}
                {{field}}
                {% if field.help_text %}
                    <small style= "color: grey;">{{field.help_text}}</small>
                {% endif %}                                        
            </p>
            {% if field.label == "Password"%}
            <ul>
                <li><small style= "color: grey;">A palavra passe não pode ser parecida com os outros dados!</small></li>
                <li><small style= "color: grey;">A palavra passe não pode conter apenas números!</small></li>
                <li><small style= "color: grey;">A palavra passe tem de ter no mínimo 8 caracteres!</small></li>
            </ul>                
            {% endif %}
            
        {% endfor %}
        {% if form_gestor.non_field_errors %}
            <div style = "color: red;">
                <p>{{form_gestor.non_field_errors}}</p>
            </div>
        {% endif %}
        <button type = "submit" style="margin-bottom: 2%;">Adicionar Gestor</button>
    </form>

{% if messages %}
    <div class="alert alert-success alert-dismissible">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}