{% extends "base.html" %}

{% block title %}
Gestores
{% endblock %}

{% block content %}

<div id = "Adicionar_all">
    <h3 style="margin-top: 2%; color:  rgb(52, 58, 64);">Gestor Editar</h3>        
    <div class = "card mb-4"></div>
    
        <form method ="post"> 
            
            {% csrf_token %}
            {% for field in form_gestor %}
                <p>
                    {{field.label_tag}}
                    {{field}}
    
                    {% if field.help_text %}
                        <small style= "color: grey;">{{field.help_text}}</small>
                    {% endif %}
                    {% for error in field.erros %}
                        <p style="color: red;">{{field.help_text}}</p>
                    {% endfor %}                        
                </p>
            {% endfor %}
            <button type = "submit" style="margin-bottom: 2%;">Adicionar Gestor</button>
        </form>
</div>
{% if messages %}
<div class="alert alert-success alert-dismissible">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
{% endblock %}