{% extends "base.html" %}

{% block title %}
Gestores
{% endblock %}

{% block content %}
<div style="flex-direction: row; display: flex; margin-top: 1%; ">
    <h1 style="width: 95%; color: rgb(33, 37, 41);">Adicionar</h1>
    <button onclick="Hide('Adicionar_all')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
    
</div>
<div class = "card mb-4"></div>

<div id = "Adicionar_all">
    <div style="flex-direction: row; display: flex; ">
        <h3 style="width: 95%; color: rgb(52, 58, 64);">Adicionar Gestor</h3>
        <button onclick="Hide('Adicionar_Gestor')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
    </div>
    <div class = "card mb-4"></div>
    <div id = "Adicionar_Gestor"> 
        <form method ="post"> 
            
            {% csrf_token %}
            {% for field in form_gestor %}
                <p>
                    {{field.label_tag}}
                    {{field}}
    
                    {% if field.help_text %}
                        <small style= "color: grey;">{{field.help_text}}</small>
                    {% endif %}
                    {% for error in field.erros %}
                        <p style="color: red;">{{field.help_text}}</p>
                    {% endfor %}                        
                </p>
            {% endfor %}
            <button type = "submit" style="margin-bottom: 2%;">Adicionar Gestor</button>
        </form>
    </div>
    
    <div style="flex-direction: row; display: flex; ">
        <h3 style="width: 95%; color: rgb(52, 58, 64);">Adicionar Edificio</h3>
        <button onclick="Hide('Adicionar_Edf')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
    </div>
          
    <div class = "card mb-4"></div>
    <div id = "Adicionar_Edf" >
        <form method ="post"> 
            {% csrf_token %}
            {% if dados_invalidos %}
                <div style = "color: red;">
                    <p>{{dados_invalidos}}</p>
                </div>
            {% endif %}
            {% for field in edificio_form %}
                <p>
                    {{field.label_tag}}
                    {{field}}
    
                    {% if field.help_text %}
                        <small style= "color: grey;">{{field.help_text}}</small>
                    {% endif %}
                    {% for error in field.erros %}
                        <p style="color: red;">{{field.help_text}}</p>
                    {% endfor %}                        
                </p>
            {% endfor %}
    
            {% if edificio_form.non_field_errors %}
                <div style = "color: red;">
                    <p>{{edificio_form.non_field_errors}}</p>
                </div>
            {% endif %}
            
            <button type = "submit" style="margin-bottom: 2%;">Adicionar Edificio</button>
    
        </form>
    </div>
    
    
    <div style="flex-direction: row; display: flex; ">
        <h3 style="width: 95%; color: rgb(52, 58, 64);">Associar Gestor a Edificio</h3>
        <button onclick="Hide('Associar_Gestor_Edificio')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
    </div>
    <div class = "card mb-4"></div>
    <div id = "Associar_Gestor_Edificio">    
        <form method ="post"> 
            {% csrf_token %}
            {% for error in form_rel.non_field_errors %}
                <p style="color: red;"> {{error}} </p>
            {% endfor %}
            {% for field in form_rel %}
                <p>
                    {{field.label_tag}}
                    {{field}}
    
                    {% if field.help_text %}
                        <small style= "color: grey;">{{field.help_text}}</small>
                    {% endif %}
                    {% for error in field.erros %}
                        <p style="color: red;">{{error}}</p>
                    {% endfor %}                        
                </p>
            {% endfor %}
            <button type = "submit" style="margin-bottom: 2%;">Adicionar Gestor</button>
        </form>
    </div>
</div>




<script>
    function Hide(componente) {
      var x = document.getElementById(componente);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>
{% endblock %}