{% extends "base.html" %}

{% block title %}
Gestores
{% endblock %}

{% block content %}
<h2 class="titulo">Lista de  Gestores</h2>        
<div class = "card mb-4"></div>  
{% if gestores %}
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nome</th>                
                <th>Email</th>
                <th>Super Gestor</th>
            </tr>
        </thead>

        <tbody>
            {% for gestor in gestores %}
                <tr>
                    <td><a href="{% url 'gestor_detalhes' gestor.id %}">{{gestor}}</a></td>
                    <td>{{gestor.email}}</td>
                    <td>{{gestor.is_supergestor}}</td>
                </tr>   
            {% endfor %}
        </tbody>
    </table>


{% else %}
    
    <h2 class = "mt-4"> Não existem caixas inativas!</h2>

{% endif %}

{% endblock %}