{% extends "base.html" %}

{% block title %}
Gestores
{% endblock %}

{% block content %}
<h1 class = "mt-4">Super-Gestor </h1>
<div class = "card mb-4"></div>
<div style="flex-direction: row; display: flex; ">
    <h2 style="width: 95%;">Adicionar Gestor</h2>
    <button onclick="Hide('Adicionar_Gestor')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
</div>
<div class = "card mb-4"></div>
<div id = "Adicionar_Gestor"> 
    <form method ="post"> 
        {% csrf_token %}
        {% for field in form_gestor %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style= "color: grey;">{{field.help_text}}</small>
                {% endif %}
                {% for error in field.erros %}
                    <p style="color: red;">{{field.help_text}}</p>
                {% endfor %}                        
            </p>
        {% endfor %}
        <button type = "submit" style="margin-bottom: 2%;">Adicionar Gestor</button>
    </form>
</div>

<div style="flex-direction: row; display: flex; ">
    <h2 style="width: 95%;">Adicionar local</h2>
    <button onclick="Hide('Adicionar_Edf')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
</div>
      
<div class = "card mb-4"></div>
<div id = "Adicionar_Edf" >
    <form method ="post"> 
        {% csrf_token %}
        {% if dados_invalidos %}
            <div style = "color: red;">
                <p>{{dados_invalidos}}</p>
            </div>
        {% endif %}
        {% for field in edificio_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style= "color: grey;">{{field.help_text}}</small>
                {% endif %}
                {% for error in field.erros %}
                    <p style="color: red;">{{field.help_text}}</p>
                {% endfor %}                        
            </p>
        {% endfor %}

        {% if edificio_form.non_field_errors %}
                    <div style = "color: red;">
                        <p>{{edificio_form.non_field_errors}}</p>
                    </div>
                {% endif %}
        
        <button type = "submit" style="margin-bottom: 2%;">Adicionar Edificio</button>

    </form>
</div>


<div style="flex-direction: row; display: flex; ">
    <h2 style="width: 95%;">Associar Gestor a Edificio</h2>
    <button onclick="Hide('Associar_Gestor_Edificio')" class ="btn btn-link btn-sm order-1 order-lg-0" ><i class="far fa-minus-square"></i></button >    
</div>
<div class = "card mb-4"></div>
<div id = "Associar_Gestor_Edificio">    
    <form method="POST" action="" style="flex-direction: column;">
        {% csrf_token %}
        <label for = "edificio_id">Selecione o Edifício: </label>
        <select name = "edificio_id">
            <option selected>Edificio</option>
            {% for Edifício in todos_edificios %}
            <option value = "{{Edifício.id}}"> {{Edifício.nome}}</option>
            {% endfor %}
        </select>
        <label for = "gestor_id">Selecione o Gestor: </label>
        <select name = "gestor_id">
            <option selected>Gestor</option>
            {% for Gestor in todos_gestores %}
            <option value = "{{gestor.id}}"> {{Gestor.first_name}} {{Gestor.last_name}}</option>
            {% endfor %}
        </select>
        <button type = "submit">Associar</button>
    </form>
</div>

<script>
    function Hide(componente) {
      var x = document.getElementById(componente);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>
{% endblock %}