
{% extends "base.html" %}

{% block title %}
Pessoas
{% endblock %}

{% block content %}
<h2 class="titulo">Lista de pessoas</h2>        
<div class = "card mb-4"></div>    
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telemóvel</th>
                <th>Cartão Atual</th>
                <th>Editar</th>
                                
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telemóvel</th>
                <th>Cartão Atual</th>
                <th>Editar</th> 
            </tr>
        </tfoot>
        <tbody>
            {% for pessoa in lista_pessoas %}
                <tr>
                    <td>{{pessoa}}</td>
                    <td>{{pessoa.email}}</td>
                    <td>{{pessoa.phone_number}}</td>       
                        {% if relacoes %}
                            {% for rel in relacoes %}
                                {% if rel.pessoa.id == pessoa.id %}
                                    <td>{{rel.cartao}}</td> 
                                {% else %}
                                    <td>-------</td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                         <td>-------</td>
                        {% endif %}
                    <td><a href ="{% url 'pessoas_editar' pessoa.id %}">[Editar Pessoa]</a></td>
                                
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}