{% extends "base.html" %}

{% block title %}
Registos
{% endblock %}

{% block content %}



<h2 class="titulo">Registos</h2>        
<div class = "card mb-4"></div>  


<form method="GET">   
    <div id = "filtros" style="justify-content: space-between;"></div>
        <label for="edificio">Edifício:</label>
        <select name ="edificio" id="edificio">
            <option value="" disabled selected>Selecione o edifício:</option>            
                {% for edf in edificios %}               
                    <option value="{{edf.id}}"> {{edf}} </option>
                {% endfor %}
            
        </select>
    
        <label for="data_inicio">Desde:</label>
        <input type="datetime-local" name="data_inicio">
        <label for="data_fim">Até</label>
        <input type="datetime-local" name="data_fim">
        <button type="submit">Filtrar</button>
        <button type="submit" value="1" name="PDF">PDF</button> 
    </div> 
</form>

    


<div class = "card mb-4"></div>
{% if registos %}
<div>
    <table  width="100%" cellspacing="0" >
        <thead >
            <tr>
                <th rowspan = "2" class ="border_bottom">Registo</th>                
                <th>Data Caixa</th>
                <th>Local</th>
                <th rowspan = "2" class ="border_bottom">Cartão</th>                
            </tr>
            <tr>
                <td class ="border_bottom">Data Servidor</td>
                <td class ="border_bottom">ID Caixa</td>
            </tr>
        </thead>
        <tbody>
            {% for registo in registos%}
            <tr>
                <td rowspan = "2" class ="border_bottom">{{registo.id}}</td>
                <td class="td_primeira_linha">{{ registo.data_servidor|date:"d M Y" }} {{ registo.data_servidor|time:"H:i" }}</td>                    
                <td class="td_primeira_linha">{{registo.local_atual_caixa}}</td>
                <td rowspan = "2" class ="border_bottom">{{registo.codigo_hexa_cartao}}</td>
            </tr>

            <tr>
                <td class ="border_bottom" style="font-size:smaller; ">{{ registo.data_caixa|date:"d M Y" }} {{ registo.data_caixa|time:"H:i" }}</td>
                <td class ="border_bottom" style="font-size:smaller; ">{{registo.caixa_id}}</td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}