
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
                text-align: left;
                padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .detalhes {
                text-align: left;
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */            
            }
            table{
                text-align: center;
            }
            .border_bottom{
                border-bottom: 1px solid black;
            }
            .td_primeira_linha{
                padding-top: 3px;
            }
            .p_detalhes{
                margin: 0;
            }
            
        </style>
    </head>
    <body>
        
            <div >                    
                <p class="p_detalhes">Nome: João</p>
                <p class="p_detalhes">Edificio: Universidade</p>
            </div>
            <div >
                <p class="p_detalhes">De 24-12-2000 até 26-12-200 </p>
                <p class="p_detalhes">Número de registos: 53</p>
            </div>
        
        </div>

    <div>

        <table class="table">
            <thead >
                <tr>
                    <th rowspan = "2" class ="border_bottom">Registo</th>                
                    <th>Data Caixa</th>
                    <th>Local</th>
                    <th>Pessoa</th>                
                </tr>
                <tr>
                    <td class ="border_bottom">Data Servidor</td>
                    <td class ="border_bottom">ID Caixa</td>
                    <td class ="border_bottom">Cartão ID</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">Entrada Principal</td>
                    <td class="td_primeira_linha">João</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">7</td>
                    <td class ="border_bottom" style="font-size:smaller; ">3561477</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>
                <tr>
                    <th rowspan = "2" class ="border_bottom">125</td>
                    <td class="td_primeira_linha">26-06-2021 16:05:43</td>                    
                    <td class="td_primeira_linha">x</td>
                    <td class="td_primeira_linha">x</td>
                </tr>

                <tr>
                    <td class ="border_bottom" style="font-size:smaller; ">26-06-2021 16:05:43</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>
                    <td class ="border_bottom" style="font-size:smaller; ">x</td>     
                </tr>


                {% for registo in registos %}
                    <tr style="text-align: center;  ">
                        <td rowspan = "2" style="vertical-align: middle; font-size:larger; ">{{forloop.counter}}x</td>
                        <td style="background-color: rgb(196, 196, 196);">{{registo.data_caixa}}</td>                    
                        <td style="background-color: rgb(196, 196, 196);">{{registo.caixa.local_atual_id}}</td>
                        <td style="background-color: rgb(196, 196, 196);">{{registo.cartao.codigo_hexa}}</td>
                    </tr>
    
                    <tr style="text-align: center; ">
                        <td style="font-size:smaller; ">{{registo.data_servidor}}</td>
                        <td style="font-size:smaller; ">{{registo.caixa_id}}</td>
                        <td style="font-size:smaller; ">{{registo.cartao.codigo_hexa}}</td>     
                    </tr>
                {% endfor %}               
    
            </tbody>
        </table>

    </div>
    </body>
</html>
