.cartao2{
    border: 1px solid gray;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 10px;
    
    }
.cartao2:hover{
    background-color: #cccccc;
}
.box-3{
    
    display: flex;
    flex-direction: row;
}
.box-2{
    width: 40%;
    margin-left: 5%;
    
    
    display: flex;
    flex-direction: column;
}
.box-2-local{
    width: 40%;
    margin: 2%;
    
    
    display: flex;
    flex-direction: column;
}
.lista{
    background-color: #e9e9e9;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10px;
    
    width: 50%;
    
}
.descricao{
    background-color: #e9e9e9;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 10px;
    height: 50%;
    
}
.gestores{
    background-color: #e9e9e9;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 10px;
    height: 50%;
    
}
.linha_lista{
    font-size: 24px;
}
.link_preto{
    color: black;
}
.p_texto{
    font-size: 20px;
    margin: 1%;
}
.p_edf{
    font-size: 30px;
    margin: 1%;
}
.div_botoes{
    margin: 1%;    
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.div_locais{
    margin: 1%;    
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.div_cartoes{
    margin: 1%;    
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.botao{
    font-size: large;
    background-color: #e9e9e9;
}
.botao:hover{
    background-color: #a3a3a3;
}

.details{
    text-align: center;
    width: 20%;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.details_caixas{
    text-align: center;
    width: 40%;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.details_gestores{
    text-align: center;
    width: 30%;
    background-color: #e9e9e9;
    border-radius: 10px;
}
.details_cartao{
    text-align: center;
    width: 60%;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
td,tr,th{
    justify-self: center;
    text-align: center;
}
.border_bottom{
    border-bottom: 1px solid rgb(196, 196, 196);
}
.td_primeira_linha{
    padding-top: 3px;
}
.p_detalhes{
    margin: 0;
}
.titulo{
    margin-top: 2%;
    color:  rgb(52, 58, 64);
}
.segundo_titulo{
    margin-top: 4%;
    color:  rgb(52, 58, 64);
}